@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Quicksand:wght@400;500&display=swap');

/*

font-family: 'Playfair Display', serif;   --- > Cimsorok
font-family: 'Quicksand', sans-serif; ---> Általános szövegek

*/

/*---------- base css -----------*/
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

a {
    color: #2c98f0;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.rounded-full {
    border-radius: 100%;
}

.w-full {
    width: 100%;
}

.p-5 {
    padding: 5rem;
}

.p-3 {
    padding: 3rem;
}

.px-5 {
    padding: 0 5rem;
}

.px-3 {
    padding: 0 3rem;
}

.py-5 {
    padding: 5rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.p-0 {
    padding: 0;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-2 {
    margin-bottom: 1.875rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.m-0 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.list-unstyled {
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}

/*---------- base css end -----------*/


/*---------- typography -----------*/

.h4-elem {
    font-family: 'Playfair Display', serif; 
    font-weight: 700;
    font-size: 1.375rem;
}

.h1-elem {
    font-size: 2rem;
}

@media all and (min-width: 992px) {
    .h1-elem {
        font-size: 3.75rem;
    }
}

/*----------typography end -----------*/

/*---------- header -----------*/

.main-sidebar {
    background-color: #f2f3f7;
    position: fixed;
    left: 0;
    height: 100vh;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

/*---------- header end -----------*/


/*---------- main -----------*/
.base-main {
   
}

.main 
    {width: calc(100% - 330px);
}

.main-hero-article {
    max-width: 50%;
}

.main-hero {
    padding: 1rem;
    min-height: 700px;
    background-image: url("../img/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/*---------- main end -----------*/
